batch_core/src/main/resources/META-INF/namespace/batch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.wuzeyong.com/schema/batch"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.wuzeyong.com/schema/batch"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>

    <xsd:element name="props">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:propsType"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="unit">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="props" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <xsd:attribute name="describe" type="xsd:string" use="required"/>
            <xsd:attribute name="allowManualExecute" type="xsd:string" use="optional"/>
            <xsd:attribute name="executeClass" type="xsd:string" use="required"/>
            <xsd:attribute name="paging-strategy" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="units">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="unit" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="route">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="props" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="currentUnit" type="xsd:string" use="required" />
            <xsd:attribute name="executeStatus" type="xsd:string" use="required"/>
            <xsd:attribute name="nextUnit" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="routes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="route" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="target">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="props" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="units" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="routes" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <xsd:attribute name="describe" type="xsd:string" use="required"/>
            <xsd:attribute name="dataSource" type="xsd:string" use="optional"/>
            <xsd:attribute name="enable" type="xsd:boolean" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="targets">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="target" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="task">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="props" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="targets" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <xsd:attribute name="describe" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="machine-strategy">
        <xsd:complexType>
            <xsd:attribute name="server-id" type="xsd:string" use="required" />
            <xsd:attribute name="handle-paging" type="xsd:string" use="optional" />
            <xsd:attribute name="data-source" type="xsd:string" use="optional" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="machine-strategies">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="machine-strategy" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="paging-strategy">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="machine-strategies" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required" />
            <xsd:attribute name="paging-mode" type="xsd:string" use="required" />
            <xsd:attribute name="total-paging" type="xsd:int" use="optional" />
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
